language: java 
jdk: openjdk14 
cache: 
  directories: $HOME/.m2
service:
  - mysql
before_script:
  - mysql -u root -e 'CREATE DATABASE RoleManagement_GroupD;'
  - mysql -u root RoleManagement_GroupD < DatabaseSetup.sql
script:
  - chmod +x build-test.sh
  - ./build-test.sh
notifications: 
  email: 
    recipients:
    - dean.catterson@kainos.com
    - pgilfedder943@gmail.com
    - conor.martin@kainos.com
    - seweryn.majewski@kainos.com
    - shibu.george@kainos.com
    on_failure: always 
    on_success: never