{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add job family
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="Add-Job-Family">
    <h1>Add New Job Family</h1>
    <form action="/addjobfamily" method="POST">
        {% if error %}
        <figure id="error-dialog-box" class="warning">
            <figcaption style="color: red;">Error</figcaption>
            <p style="color: red;">{{error}}</p>
        </figure>
        {% endif %}
        {% if message %}
        <figure id="message-dialog-box" class="message">
            <p style="color: green;">{{message}}</p>
        </figure>
        {% endif %}
        <input type="text" name="jobFamilyName" placeholder="Job Family Name" required>
        <select id="capability" name="capability">
            {% for capability in capabilities %}
            <option value="{{capability.capabilityName}}">{{capability.capabilityName}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</div>
{% endblock %}