{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Bands
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<script src="/public/javascripts/bands.js"></script>
<link rel="stylesheet" href="../public/css/CapabilityLattice.css">
{% endblock %}


{% block content %}
<h1 class="display-6">Select a band to view the expected Kainos competencies for that band.</h1>

<select id="mySelect" onchange="window.location.href=this.value" hidden="true">
    <option value="none" id="defaultMySelectOption">Select an Option</option>
    {% if bands %}
        {% for band in bands %}
            {% if request.url | replace("/bands/", "") == band.bandID %}
            <option selected value="/bands/{{band.bandID}}" id="bandSelect{{ band.bandName}}">{{ band.bandName }}</option>
            {% else %}
            <option value="/bands/{{band.bandID}}" id="bandSelect{{ band.bandName }}">{{ band.bandName }}</option>
            {% endif %}
        {% endfor %}
    {% endif %}
</select>

<noscript>
    <table class="table table-hover table-responsive">
        <tr>
            {% if bands %}
            {% for band in bands %}
            {% if request.url | replace("/bands/", "") == band.bandID %}
            <td>
                <a href="/bands/{{ band.bandID }}" style="color: red">{{ band.bandName }}</a>
            </td>
            {% else %}
            <td>
                <a href="/bands/{{ band.bandID }}">{{ band.bandName }}</a>
            </td>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tr>
    </table>
</noscript>

<div>
    <!-- TODO add competencies information here -->
    {% if competencies %}

    <br>

    <table class="table table-hover table-responsive">
            <thead>
            <tr class="table-bordered">
                <td class="careerLattice-tableColumn" id="competencyName" scope="col" width="35% !important">Competency Name</th>
                <td class="careerLattice-tableColumn" id="competencyDescription" scope="col" width="65% !important" >Description</th>
            </tr>
            </thead>
        <tbody>

        {% for competency in competencies %}

        <tr>
            <th class="careerLattice-tableRow" scope="row">{{ competency.compName }}</th>
            <td class="careerLattice-tableRow">{{ competency.description }}</td>
        </tr>

        {% endfor %}
        </tbody>

    </table>

    {% endif %}

</div>

{% endblock %}