{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Bands
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}


{% block content %}
<h1 class="display-6">Select a band to view the expected Kainos competencies for that band.</h1>

<!--<a href="/"><button type="button" class="btn btn-outline-secondary">&#8592;</button></a> *** Deleted until Navigation decisions are completed-->
<br>

<select id="mySelect" onchange="window.location.href=this.value">
    <option value="none" >
        Select an Option
    </option>

    {% if data[0].bands %}
    {% for band in data[0].bands %}
    {% if request.url | replace("/bands/", "") == band.bandID %}
    <option selected value=/bands/{{band.bandID}}> {{ band.bandName }} </option>
    {% else %}
    <option  value=/bands/{{band.bandID}}> {{ band.bandName }} </option>

    {% endif %}
    {% endfor %}
    {% endif %}
</select>

<br>

<div>
    {% if data[0].competencies %}

    <br>

    <table class="table table-striped table-hover table-secondary">
            <thead class="table table-striped table-hover table-primary table-bordered" id="competenciesTable">
            <tr class="table-bordered">
                <th id="competencyName" scope="col" width="35%">Competency Name</th>
                <th id="competencyDescription" scope="col" width="65%">Description</th>
            </tr>
            </thead>
        <tbody>

        {% for competency in data[0].competencies %}

        <tr>
            <th id="roleName {{competency.compName}}" scope="row">{{ competency.compName }}</th>
            <td id="roleName {{competency.compDesciption}}">{{ competency.description }}</td>
        </tr>

        {% endfor %}
        </tbody>

    </table>

    {% endif %}

</div>

{% endblock %}