{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Job Roles
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="../public/css/CapabilityLattice.css">
{% endblock %}

{% block content %}
{% if capabilityData %}

<h1>{{capabilityData.capabilityName}} Career Lattice</h1>

<table class="table table-hover table-responsive">
    <thead id="Career-Lattice-{{ capability.capabilityName }}">
    <tr class="table-bordered">
        <th id="Band-Name" class="careerLattice-tableColumn" style="width:10%">Band</th>
        {% for jobFamily in jobFamilyData %}
        <th id="{{jobFamily.jobFamilyName}}" class="careerLattice-tableColumn" scope="col">{{jobFamily.jobFamilyName}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for band in bandData %}
    <tr>
        <th height = "100" class="careerLattice-tableRow"><a id="{{band.bandName}}" href ="/bands/{{band.bandID}}">{{band.bandName}}</a></th>
        {% for jobFamily in jobFamilyData %}
        {% set rolePresent = false %}
        {% set roleName = "" %}
        {% set roleNum = 0 %}
        {% for jobRole in jobRoleData %}
        {% if (jobRole.band == band.bandName) and (jobRole.jobFamily == jobFamily.jobFamilyName) %}
        {% set rolePresent = true %}
        {% set roleName = jobRole.roleName %}
        {% set roleNum = jobRole.roleID%}
        {% endif %}
        {% endfor %}
        {% if rolePresent == true %}
        <td class="careerLattice-tableRow"><a id="{{roleName}}" href="/role/{{roleNum}}">{{roleName}}</a></td>
        {% else %}
        <td id="NoRole"></td>
        {%endif%}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>"Hi"</p>
{% endif %}
{% endblock %}
