{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Capability Leads
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container overflow-hidden border border-2 rounded shadow-lg">
    <div class="row gy-5 gx-5">
        {% if capabilityLeaders %}
        {% set inc = 0 %}
        {% for lead in capabilityLeaders %}
<!--Modal-->
        <div class="modal fade" id="modal{{ inc }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBodyID{{ inc }}">
                        {{ lead.capabilityLeadMessage }}
                    </div>
                </div>
            </div>
        </div>
<!--Photo with capability and name-->
        <div class="col-6">
            <div class="p-3">
                <h2 class="text-center">{{ lead.capabilityName }}</h2>
                <h3 class="text-center">{{ lead.employeeName }}</h3>
                <a data-bs-toggle="modal" data-bs-target="#modal{{ inc }}" >
                    <img src="data:image/jpeg;base64,{{ lead.employeeIDPhoto }}" id="imageID{{ inc }}" class="shadow rounded-circle border border-3 mx-auto d-block img-thumbnail img-fluid" alt="..."
                         width="400" height="400"
                         style="object-fit:cover;
                                object-position: center;
                                width:300px;
                                height:300px;
                                border: solid 1px #CCC">
                </a>
                <noscript>
                    <ul class="list-group mb-4 w-100 mt-4">
                        <li class="list-group-item active" aria-current="true">
                            <h7>Message: </h7>
                        </li>
                        <li class="list-group-item">{{ lead.capabilityLeadMessage }}</li>
                    </ul>
                </noscript>
            </div>
        </div>
        {% set inc = inc + 1 %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}