{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Job Roles
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="/public/stylesheets/jobroles.css">
{% endblock %}

{% block content %}
{% if jobFamilyData %}
<table class = "table table-striped table-hover table-secondary">
    <thead id="Career-Lattice-{{ capability.capabilityName }}">
    <tr class="table-bordered">
        <th id="Band-Name">Band</th>
        {% for jobFamily in jobFamilyData %}
        <th id="{{jobFamily.jobFamilyName}}" scope="col">{{jobFamily.jobFamilyName}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for band in bandData %}
        <tr>
            <th id="{{band.bandName}}">{{band.bandName}}</th>
            {% for jobFamily in jobFamilyData %}
            {% for jobRole in jobRoleData %}
            {% set a = "" + jobRole.bandName | string %}
            {% set b = "" + band.bandName | string %}
            {% set c = "" + jobRole.jobFamilyName | string %}
            {% set d = "" + jobFamily.jobFamilyName | string %}
            {% if (a == b) and (c == d) %}
            <td id="{{jobRole.roleName}}">{{jobRole.roleName}}</td>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>"Hi"</p>
{% endif %}
{% endblock %}
