{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Job Roles
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="/public/stylesheets/jobroles.css">
{% endblock %}

{% block content %}
{% if jobFamilyData %}
<table class="table table-striped table-hover table-secondary">
    <thead id="Career-Lattice-{{ capability.capabilityName }}">
    <tr class="table-bordered">
        <th id="Band-Name">Band</th>
        {% for jobFamily in jobFamilyData %}
        <th id="{{jobFamily.jobFamilyName}}" scope="col">{{jobFamily.jobFamilyName}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for band in bandData %}
    <tr>
        <th id="{{band.bandName}}">{{band.bandName}}</th>
        {% for jobFamily in jobFamilyData %}
        {% set rolePresent = false %}
        {% set roleName = "" %}
        {% for jobRole in jobRoleData %}
        {% if (jobRole.band == band.bandName) and (jobRole.jobFamily == jobFamily.jobFamilyName) %}
        {% set rolePresent = true %}
        {% set roleName = jobRole.roleName %}
        {% endif %}
        {% endfor %}
        {% if rolePresent == true %}
        <td id="{{roleName}}">{{roleName}}</td>
        {% else %}
        <td id="NoRole"></td>
        {%endif%}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>"Hi"</p>
{% endif %}
{% endblock %}
