{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Home
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="public/stylesheets/homePageCustoms.css">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row row-cols-4">
        <div class="col m-3">
            <a href="/jobroles">
            <div class="card homeNavigationButton" style="width: 16rem;">
                <img src="https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg"
                     class="card-img-top" alt="..."
                     style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                <div class="card-footer text-center">
                    <p class="card-text">Job Roles</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col m-3">
            <a href="/capabilityleaders">
            <div class="card homeNavigationButton" style="width: 16rem;">
                <img src="https://static6.depositphotos.com/1000816/608/i/600/depositphotos_6085628-stock-photo-business-team-formed-of-young.jpg"
                     class="card-img-top" alt="..."
                     style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                <div class="card-footer text-center">
                    <p class="card-text">Capability Leaders</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col m-3">
            <a href="/bands">
                <div class="card homeNavigationButton" style="width: 16rem;">
                    <img src="https://i.pinimg.com/originals/bc/ca/eb/bccaebce55d1d87e0513800911cadf71.jpg"
                         class="card-img-top" alt="..."
                         style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                    <div class="card-footer text-center">
                        <p class="card-text">Bands</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}