{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Home
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="public/stylesheets/homePageCustoms.css">
{% endblock %}


{% block content %}
{% if error%}
<h3 style="color: red;">{{error}}</h3>
{% endif %}
<style>
    .govuk-width-container {
    max-width: 1120px !important;
}</style>
<h1 class="text-center mb-5">Welcome {{user.username}}</h1>
<div class="container">
    <div class="row row-cols-4">
        <div class="col mb-4">
            <a href="/jobroles">
            <div class="card homeNavigationButton" style="width: 16rem;">
                <img src="/public/images/homePageImages/1.png"
                     class="card-img-top" alt="..."
                     style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                <div class="card-footer text-center border border-0">
                    <p class="card-text">Job Roles</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col mb-4">
            <a href="/capabilityleaders">
            <div class="card homeNavigationButton" style="width: 16rem;">
                <img src="/public/images/homePageImages/2.png"
                     class="card-img-top" alt="..."
                     style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                <div class="card-footer text-center border border-0">
                    <p class="card-text">Capability Leaders</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col mb-4">
            <a href="/bands">
                <div class="card homeNavigationButton" style="width: 16rem;">
                    <img src="/public/images/homePageImages/3.png"
                         class="card-img-top" alt="..."
                         style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                    <div class="card-footer text-center border border-0">
                        <p class="card-text">Bands</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col mb-4">
            <a href="/training">
                <div class="card homeNavigationButton" style="width: 16rem;">
                    <img src="/public/images/homePageImages/4.png"
                         class="card-img-top" alt="..."
                         style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                    <div class="card-footer text-center border border-0">
                        <p class="card-text">Training</p>
                    </div>
                </div>
            </a>
        </div>

        {% if user.role === 'Admin' %}
        <div class="col mb-4">
            <a href="/addjobfamily">
                <div class="card homeNavigationButton" style="width: 16rem;">
                    <img src="/public/images/homePageImages/5.png"
                         class="card-img-top" alt="..."
                         style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                    <div class="card-footer text-center border border-0">
                        <p class="card-text">Add job family</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col mb-4">
            <a href="/jobfamily">
                <div class="card homeNavigationButton" style="width: 16rem;">
                    <img src="/public/images/homePageImages/7.png"
                         class="card-img-top" alt="..."
                         style="object-fit:cover;
                            object-position: center;
                            width:255px;
                            height:200px;
                            border: solid 1px #CCC">
                    <div class="card-footer text-center border border-0">
                        <p class="card-text">Edit job family</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}