{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Edit job family
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
{% endblock %}

{% block content %}

<table class="table table-striped table-hover table-secondary">
  <thead class="table table-striped table-hover table-primary table-bordered" id="jobRolesTable">
  <tr class="table-bordered">
    <th id="jobFamilyName" scope="col">Job Family</th>
    <th id="capabilityName" scope="col">Capability</th>
    <th id="edit" scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  {% if jobFamilies %}
  {% for jobFamily in jobFamilies %}
  <tr>
    <td id="jobFamilyName{{jobFamily.jobFamilyID}}" scope="row">{{ jobFamily.jobFamilyName }}</td>
    <td id="capability{{jobFamily.jobFamilyID }}" scope="row">{{ jobFamily.capability }}</td>
    <td id="edit{{ jobFamily.jobFamilyID }}"><a href="/editJobFamily/{{jobFamily.jobFamilyID}}"><button type="button" class="btn btn-warning">Edit</button></a></td>
  </tr>
  {% endfor %}
  {% endif %}

  </tbody>
</table>

{% endblock %}