{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Edit job family
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="../public/css/CapabilityLattice.css">
{% endblock %}


{% block content %}

<h1>Manage Job Families</h1>
<table class="table table-hover table-responsive">
  <thead id="jobFamiliesTable">
  <tr class="table-bordered">
      <td class="careerLattice-tableColumn" id="jobFamilyName" scope="col">Job Family</th>
      <td class="careerLattice-tableColumn" id="capabilityName" scope="col">Capability</th>
      <td class="careerLattice-tableColumn" id="edit" scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  {% if jobFamilies %}
  {% for jobFamily in jobFamilies %}
  <tr>
    <td class="careerLattice-tableRow" id="jobFamilyName{{jobFamily.jobFamilyID}}" scope="row">{{ jobFamily.jobFamilyName }}</td>
    <td class="careerLattice-tableRow" id="capability{{jobFamily.jobFamilyID }}" scope="row">{{ jobFamily.capability }}</td>
    <td class="careerLattice-tableRow" id="edit{{ jobFamily.jobFamilyID }}"><a href="/editJobFamily/{{jobFamily.jobFamilyID}}"><button type="button" class="btn btn-warning">Edit</button></a></td>
  </tr>
  {% endfor %}
  {% endif %}

  </tbody>
</table>

{% endblock %}