{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Job Roles
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<link rel="stylesheet" href="public/stylesheets/jobroles.css">
{% endblock %}


{% block content %}
<table class="table table-striped table-hover table-secondary">
    <thead class="table table-striped table-hover table-primary table-bordered" id="jobRolesTable">
    <tr class="table-bordered">
        <th id="roleName" scope="col">Role Name</th>
        <th id="capability" scope="col">Capability</th>
        <th id="jobFamily" scope="col">Job Family</th>
        <th id="band" scope="col">Band</th>
        <th id="jobSummary" scope="col" width="30%">Job Summary</th>
        <th id="specification" scope="col">Specification</th>
    </tr>
    </thead>
    <tbody>
    {% if jobRoles %}
    {% for jobRole in jobRoles %}

    <tr>
        <th id="roleName {{jobRole.roleID}}" scope="row"><a href="/role/{{jobRole.roleID}}">{{ jobRole.roleName }}</a></th>
        <td id="capability{{ jobRole.roleID }}">{{ jobRole.capability }}</td>
        <td id="jobFamily{{ jobRole.roleID }}" >{{ jobRole.jobFamily }}</td>
        <td id="band{{ jobRole.roleID }}" >{{ jobRole.band }}</td>
        <td>
        <div class="accordion accordion-flush" id="accordionFlushExample{{ jobRole.roleID }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{ jobRole.roleID }}">
                    <button id="accordionButtonId{{ jobRole.roleID }}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ jobRole.roleID }}" aria-expanded="false" aria-controls="flush-collapse{{ jobRole.roleID }}">
                        {{ jobRole.roleSummary | truncate(42, true, "...") }}
                    </button>
                </h2>
                <div id="flush-collapse{{ jobRole.roleID }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ jobRole.roleID }}" data-bs-parent="#accordionFlushExample{{ jobRole.roleID }}">
                    <div class="accordion-body" id="accordionBodyId{{ jobRole.roleID }}" >{{ jobRole.roleSummary }}{{ jobRole.roleSummary }}{{ jobRole.roleSummary }}{{ jobRole.roleSummary }}</div>
                </div>
            </div>
        </div>
        </td>
        <td id="specification{{ jobRole.roleID }}"><a href="{{ jobRole.specification }}" class="noUnderLine">Job Specification</a></td>
    </tr>
    {% endfor %}
    {% else %}

    <tr>
        <th scope="row">1</th>
        <td>Senior Software Engineer</td>
        <td>3</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Lead Tech</td>
        <td>3</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Associate</td>
        <td>3</td>
    </tr>

    {% endif %}

    </tbody>
</table>
{% endblock %}