{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Training{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block headIcons %}
{{ super() }}
<script src="public/javascripts/training.js"></script>
{% endblock %}

{% block content %}

<h1>Choose your band: </h1>
<select id="band" name="band" class="form-select form-select-lg mb-3 w-50" aria-label=".form-select-lg example"
        onchange="window.location.href=this.value">
    <option value="">Band levels:</option>
        {% for band in bands %}
            {% if band.bandID == request.url | replace("/training/", "") %}
                <option selected value="/training/{{ band.bandID }}">{{ band.bandName }}</option>
            {% else %}
                <option value="/training/{{ band.bandID }}">{{ band.bandName }}</option>
            {% endif %}
        {% endfor %}}
</select>

{% if trainings %}
    {% for training in trainings %}
        <ul class="list-group mb-4 w-50">-->
            <li class="list-group-item active" aria-current="true">{{ training.name }}</li>
            <li class="list-group-item">{{ training.place }}</li>
        </ul>
    {% endfor %}
{% endif %}

{% endblock %}