.govuk-width-container {
    max-width: 1400px !important;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}
ul#horizontal-list li {
    display: inline;
}

.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}
