.kainosnav{
    background-color: #ffffff !important;
    border-bottom: solid 1px #252d4f !important;
}

.kainos-nav-text{
    color: #252d4f !important;
    font-family: 'Karla', sans-serif !important;
}

.kainos-nav-text:focus{
    background-color: #fff !important;
    outline-color: #fff !important;
}

.navbar-brand:focus{
    background-color: #fff !important;
    outline-color: #fff !important;
}