{% extends "layout_unbranded.html" %}

{% block pageTitle %}
HR Page
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<a href="/jobroles"><button type="button" class="btn btn-primary" href="#">Job Roles</button></a>
<button type="button" class="btn btn-secondary" href="#">Secondary</button>
<button type="button" class="btn btn-success" href="#">Success</button>
<button type="button" class="btn btn-danger" href="#">Danger</button>
<button type="button" class="btn btn-warning" href="#">Warning</button>
<button type="button" class="btn btn-info" href="#">Info</button>
<button type="button" class="btn btn-light" href="#">Light</button>
<button type="button" class="btn btn-dark" href="#">Dark</button>

<button type="button" class="btn btn-link">Link</button>


{% endblock %}